.vscode/launch.json
Default publisher_ALProject1_1.0.0.0.app
.alpackages/Microsoft_Application_22.1.55890.56216.app
.alpackages/Microsoft_Base Application_22.1.55890.56216.app
.alpackages/Microsoft_System Application_22.1.55890.56216.app
.alpackages/Microsoft_System_22.0.56191.0.app
.vscode/rad.json
